@import '../../../styles.scss';
@import '../../../assets/style.scss';

.container{
  width: 10em;
  height: 12em;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  background-color: $font-dark-bg-color;
  margin: 2em;
  img{
    width: 10em;
    height: 10em;
    border-radius: 50%;
  }
  .name{
    text-align: center;
    font-family: 'Jost', sans-serif;
  }
}
