<app-nav-bar></app-nav-bar>
<div id="main-container">
  <div class="header">
    <div class="title">
      About Us
    </div>
    <div class="caption">
      Mukh Bandh Kaam Suru is a Public Charitable Trust registered under the Indian Trust Act 1960 in Darjeeling, India. We are dedicated towards bringing back the lost essence of Darjeeling Hills. We are involved in Education, Children
      Healthcare, Youth Empowerment, Poverty Alleviation and Cleanliness sectors.
    </div>
    <hr>
  </div>

  <div class="sub-title">Trustees</div>
  <div class="trustees">
    <app-trustee-card [isPhotoLeft]="true"></app-trustee-card>
    <app-trustee-card [isPhotoLeft]="false"></app-trustee-card>
    <app-trustee-card [isPhotoLeft]="true"></app-trustee-card>
    <app-trustee-card [isPhotoLeft]="false"></app-trustee-card>
    <hr>
  </div>

  <div class="sub-title">Karyasa</div>
  <div class="karyasa">
    <app-karyasa-card></app-karyasa-card>
    <app-karyasa-card></app-karyasa-card>
    <app-karyasa-card></app-karyasa-card>
    <app-karyasa-card></app-karyasa-card>
    <app-karyasa-card></app-karyasa-card>
  </div>
</div>
<app-footer></app-footer>
