<div class="container">
  <div class="vertical-spacer"></div>
  <div class="navigations">
    <div class="link" routerLink="/home">Home</div>
    <div id="projects-link" class="link">Projects
      <span class="icon-angle-up-solid"></span>
      <div class="dropup-menu">
        <ul>
          <li *ngFor="let project of projects" routerLink="/project/{{project.project_id}}">
            <span *ngIf="project.project_short_form != ''">
              {{project.project_short_form}} -
            </span>
            {{project.project_name}}
          </li>
        </ul>
        <div class="arrow-div"></div>
      </div>
    </div>
    <div class="link" routerLink="/aboutus">About Us</div>
  </div>
  <div class="vertical-spacer"></div>
</div>

<div class="sub-footer">
  <span>© Registered under the Indian Trust Act 1960</span>
</div>
