<div id="container">
  <div id="links-container">
    <div class="link-container">
      <a class="title scale-on-hover" routerLink="/home">Home</a>
    </div>
    <div class="link-container">
      <span id="project-title" class="title">
        <span class="scale-on-hover">
          Projects <span class="icon-angle-down-solid"></span>
        </span>
        <div id="arrow-div-container">
          <div class="arrow-div"></div>
            <ul class="dropdown-container">
              <div *ngFor="let project of projects">
                <li routerLink="/project/{{project.project_id}}">
                  <span *ngIf="project.project_short_form != ''">
                    {{project.project_short_form}} -
                  </span>
                  {{project.project_name}}
                </li>
              </div>
            </ul>
        </div>
      </span>
    </div>
    <div class="link-container">
      <a class="title scale-on-hover" routerLink="/aboutus">About Us</a>
    </div>
  </div>
  <div class="verticle-spacer"></div>
</div>

