<div id="container">
  <div id="links-container">
    <div class="link-container">
      <a class="title scale-on-hover" href="">Home</a>
    </div>
    <div class="link-container">
      <span id="project-title" class="title">
        <span class="scale-on-hover">
          Projects <span class="icon-angle-down-solid"></span>
        </span>
        <div id="arrow-div-container">
          <div class="arrow-div"></div>
            <ul class="dropdown-container">
              <a href="">
                <li>
                  MBKS Education For All Initiative (MEFAI)
                </li>
              </a>
              <a href="">
                <li>
                  Children's Health Initiative for Lifelong Development (CHILD)
                </li>
              </a>
            </ul>
        </div>
      </span>
    </div>
    <div class="link-container">
      <a class="title scale-on-hover" href="">About Us</a>
    </div>
  </div>
  <div class="verticle-spacer"></div>
</div>

