<div id="container">
  <section class="vertical-spacer"></section>
  <section class="left-sec" data-aos="fade-right" data-aos-offset="0" data-aos-duration="1500">
    <span class="{{logo1}} icon"></span>
    <div class="content">
      <div class="title">{{title1}}</div>
      <div class="caption">{{caption1}}</div>
    </div>
  </section>
  <section class="right-sec" data-aos="fade-left" data-aos-offset="0" data-aos-duration="1500">
    <span class="{{logo2}} icon"> </span>
    <div class="content">
      <div class="title">{{title2}}</div>
      <div class="caption">{{caption2}}</div>
    </div>
  </section>
  <section class="vertical-spacer"></section>
</div>
