@import '../../../assets/style.scss';
@import '../../../styles.scss';

#container{
  height: 8em;
  background-color: $primary-color;
  display: grid;
  grid-template-columns: 1fr 3fr 3fr 1fr;
  .left-sec, .right-sec{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .icon{
      font-size: 3em;
      color: $font-dark-bg-color;
    }
    .content{
      margin-left: 1em;
      .title{
        font-family: 'Jost', sans-serif;
        color: $font-dark-bg-color;
        font-size: 1.5em;
      }
      .caption{
        font-family: 'Jost', sans-serif;
        color: $font-dark-bg-color;
      }
    }
  }
}
