<!-- NAV BAR -->
<app-nav-bar></app-nav-bar>
<!-- HEADER -->
<app-home-header></app-home-header>
<!-- RED STRIP -->
<app-red-strip [logo1]="'icon-bowl-food-solid'" [title1]="'10 lakh+'" [caption1]="'worth of food distributed'" [logo2]="'icon-indian-rupee-sign-solid'" [title2]="'9 lakh+'" [caption2]="'received in donations'" ></app-red-strip>
<!-- SECTION -->
<app-sections-landing-page [title]="'Our Vision'" [caption]="'MBKS Trust envisages bringing back the lost essence of Darjeeling Hills, a global brand whose overall brand value has diminished over the years for all the wrong reasons. We aim to continue being a youth-based initiative bringing about meaningful social impact in all sectors to make Darjeeling truly the Queen of the Hills.'" [photoFirst]="true"></app-sections-landing-page>
<!-- RED STRIP -->
<app-red-strip [logo1]="'icon-graduation-cap-solid'" [title1]="'100+'" [caption1]="'students under scholarship'"
  [logo2]="'icon-hands-holding-child-solid'" [title2]="'10+'" [caption2]="'children under medical care'"></app-red-strip>
<!-- SECTION -->
<app-sections-landing-page [title]="'Our Mission'" [caption]="'We have five projects in five social sectors to realize our vision. Being a Public Charitable Trust, we are not limited to one genre of social activism. Thus we have impacted lives with our different projects in atleast five fields for now. We will expand into other social fields in near future to bring about holistic development of Darjeeling Hills.'" [photoFirst]="false"></app-sections-landing-page>
<!-- RED STRIP -->
<app-red-strip [logo1]="'icon-handshake-angle-solid'" [title1]="'1000+'" [caption1]="'volunteers and counting'"
  [logo2]="'icon-arrows-down-to-people-solid'" [title2]="'100+'" [caption2]="'families affected'">
</app-red-strip>
<!-- SECTION -->
<app-sections-landing-page [title]="'Our Core Values'"
  [caption]="'As all of our Trustees and Members are youths in the truest sense of the word, we believe in making youths the voice and force for social change. Passion coupled with compassion brings about great changes in our society. Transparency and accountability in all our activities for the greater community development is paramount to us.'" [photoFirst]="true"></app-sections-landing-page>
<!-- RED STRIP -->
<app-red-strip [logo1]="''" [title1]="''" [caption1]="''"
  [logo2]="''" [title2]="''" [caption2]="''">
</app-red-strip>
<!-- VIDEO SECTION -->
<app-video-landing-page></app-video-landing-page>
<app-contact-section-landing-page></app-contact-section-landing-page>
<!-- FOOTER -->
<app-footer></app-footer>


