<!-- NAV BAR -->
<app-nav-bar></app-nav-bar>

<!-- HEADER -->
<app-home-header *ngIf="info"
  [title]="info.home_sections.title1"
  [caption]="info.home_sections.caption1"
  [photo]="info.landing_images.image1"
  [donateBg]="info.donate_background">
</app-home-header>

<!-- RED STRIP -->
<app-red-strip *ngIf="info"
  [logo1]="'icon-bowl-food-solid'"
  [title1]="info.strip_sections.title1"
  [caption1]="info.strip_sections.caption1"
  [logo2]="'icon-indian-rupee-sign-solid'"
  [title2]="info.strip_sections.title2"
  [caption2]="info.strip_sections.caption2" >
</app-red-strip>

<!-- SECTION - VISION -->
<app-sections-landing-page *ngIf="info"
  [title]="info.home_sections.title2"
  [caption]="info.home_sections.caption2"
  [photoFirst]="true"
  [photo]="info.landing_images.image2">
</app-sections-landing-page>

<!-- RED STRIP -->
<app-red-strip *ngIf="info"
  [logo1]="'icon-graduation-cap-solid'"
  [title1]="info.strip_sections.title3"
  [caption1]="info.strip_sections.caption3"
  [logo2]="'icon-hands-holding-child-solid'"
  [title2]="info.strip_sections.title4"
  [caption2]="info.strip_sections.caption4">
</app-red-strip>

  <!-- SECTION - MISSION-->
<app-sections-landing-page *ngIf="info"
  [title]="info.home_sections.title3"
  [caption]="info.home_sections.caption3"
  [photoFirst]="false"
  [photo]="info.landing_images.image3">
</app-sections-landing-page>

<!-- RED STRIP -->
<app-red-strip *ngIf="info"
  [logo1]="'icon-handshake-angle-solid'"
  [title1]="info.strip_sections.title5"
  [caption1]="info.strip_sections.caption5"
  [logo2]="'icon-arrows-down-to-people-solid'"
  [title2]="info.strip_sections.title6"
  [caption2]="info.strip_sections.caption6">
</app-red-strip>

<!-- SECTION - CORE VALUES -->
<app-sections-landing-page *ngIf="info"
  [title]="info.home_sections.title4"
  [caption]="info.home_sections.caption4"
  [photoFirst]="true"
  [photo]="info.landing_images.image4">
</app-sections-landing-page>

  <!-- RED STRIP -->
<app-red-strip
  [logo1]="''"
  [title1]="''"
  [caption1]="''"
  [logo2]="''"
  [title2]="''"
  [caption2]="''">
</app-red-strip>

<!-- VIDEO SECTION -->
<app-video-landing-page *ngIf="info"
  [videoId]="info.youtube_video_id" >
</app-video-landing-page>

<!-- CONTACT SECTION -->
<app-contact-section-landing-page *ngIf="info"
  [data]="info.contact_section"
  [mbks_logo]="info.mbks_logo_gradient">
</app-contact-section-landing-page>

<!-- FOOTER -->
<app-footer ></app-footer>

