<app-nav-bar (idEmitter)="idEmitter($event)"></app-nav-bar>
<app-loader *ngIf="showLoadingPage"></app-loader>

<div *ngIf="!showLoadingPage" id="main-container">
  <div class="main-title">
    {{project.project_name}}
    <span *ngIf="project.project_short_form != ''">
      ({{project.project_short_form}})
    </span>
  </div>

  <div class="subsection">
    <div class="paragraph" *ngFor="let caption of project.project_paragraghs">
      {{caption}}
    </div>
    <hr>
    <div class="photos-container">
      <img data-aos="flip-up" *ngFor="let photo of project.projects_photos" src="{{photo}}" alt="photo">
    </div>
  </div>

</div>
<app-footer (projectIdFromFooter)="idEmitter($event)" ></app-footer>
