@import '../../../styles.scss';


#main-container{
  padding: 5em 15em;
  background-color: $secondary-color;
  min-height: 100vh;
  .main-title{
    font-family: 'Jost', sans-serif;
    font-size: 3em;
    font-weight: 500;
    color: $font-primary;
    padding-bottom: 0.5em;
  }
  .main-caption{
    font-family: 'Jost', sans-serif;
    font-size: 1em;
    font-weight: 500;
    color: $font-secondary;
    padding-bottom: 1em;
  }
  hr{
    background-color: $primary-color;
    width: 30em;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  .subsection{
    .subtitle{
      font-family: 'Jost', sans-serif;
      font-size: 2em;
      font-weight: 500;
      color: $font-primary;
      padding: 0.5em 0em;
      text-align: center;
    }
    .subcaption{
      font-family: 'Jost', sans-serif;
      font-size: 1em;
      font-weight: 500;
      color: $font-secondary;
      padding-bottom: 1em;
    }
    .photos-container{
      margin: 1em;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      img{
        height: 12em;
        width: 12em;
        margin: 1em;
        border-radius: 50%;
      }
    }
  }
}
