<app-nav-bar></app-nav-bar>
<div id="main-container">

  <div class="main-title">
    MBKS Education For All Initiative (MEFAI)
  </div>
  <div class="main-caption">
    As we believe that quality education and access to it shouldn't be the prerogative of a select class of our society, we are running this project to provide educational scholarships to children belonging to the economically deprived families of the Hills right upto their post matriculation examination.
  </div>

  <div class="subsection">
    <hr>
    <div class="subtitle">
      MEFAI Sponsorship
    </div>
    <div class="subcaption">
      As we believe that quality education and access to it shouldn't be the prerogative of a select class of our society,
      we are running this project to provide educational scholarships to children belonging to the economically deprived
      families of the Hills right upto their post matriculation examination. We have 100+ children under this project right
      now in eleven different schools across Darjeeling Hills. We bear all their annual educational expenses under MEFAI.
      The eldest of the lot is in Class Twelve and and the youngest one has just joined Nursery this year. We also have
      started building educational infrastructure in different schools for advancement of quality education starting with a
      full-fledged library in Betten High School, Tukvar, Darjeeling. Team MBKS continues to reach out to families from the
      economically vulnerable section of our society in pursuance of our goal of providing quality education to every
      children possible.
    </div>
    <div class="photos-container">
      <img src="https://arctistic.github.io/wearembks/MEFAI-sponsorship-images/image1.jpg" alt="">
      <img src="https://arctistic.github.io/wearembks/MEFAI-sponsorship-images/image2.jpg" alt="">
      <img src="https://arctistic.github.io/wearembks/MEFAI-sponsorship-images/image3.jpg" alt="">
      <img src="https://arctistic.github.io/wearembks/MEFAI-sponsorship-images/image4.jpg" alt="">
      <img src="https://arctistic.github.io/wearembks/MEFAI-sponsorship-images/image5.jpg" alt="">
    </div>
  </div>

  <div class="subsection">
    <hr>
    <div class="subtitle">
      MEFAI BUILD
    </div>
    <div class="subcaption">
      This fund was initiated for building of basic educational infrastructure in far-flung schools of the Hills. We believe
      that students have not only the right to education but also the right to quality education. Under this fund, the first
      project that we completed was the building of a library at Betten High School, Tukvar with the help of Hazaar Sapana, an
      American NGO, headed by Mrs. Perilla Bhandari. We are also looking after the construction of the new building of the Jimlang Uday Higher Secondary School, Jimlang T.E., after getting it sanctioned from the North Bengal Development Board.
    </div>
    <div class="photos-container">
      <img src="https://arctistic.github.io/wearembks/MEFAI-sponsorship-images/image1.jpg" alt="">
      <img src="https://arctistic.github.io/wearembks/MEFAI-sponsorship-images/image2.jpg" alt="">
      <img src="https://arctistic.github.io/wearembks/MEFAI-sponsorship-images/image3.jpg" alt="">
      <img src="https://arctistic.github.io/wearembks/MEFAI-sponsorship-images/image4.jpg" alt="">
      <img src="https://arctistic.github.io/wearembks/MEFAI-sponsorship-images/image5.jpg" alt="">
    </div>
  </div>

</div>
<app-footer></app-footer>
