@import '../../../styles.scss';


#main-container{
  padding: 5em 25em;
  background-color: $secondary-color;
  min-height: 100vh;
  .main-title{
    font-family: 'Jost', sans-serif;
    font-size: 3em;
    font-weight: 500;
    color: $font-primary;
    padding-bottom: 0.5em;
  }
  hr{
    background-color: $primary-color;
    width: 50vw;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  .subsection{
    .paragraph{
      font-family: 'Jost', sans-serif;
      font-size: 1em;
      font-weight: 500;
      color: $font-secondary;
      padding-bottom: 1em;
    }
    .photos-container{
      margin: 1em;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      img{
        height: 12em;
        width: 12em;
        margin: 1em 0.5em;
        border-radius: 50%;
        object-fit: cover;
      }
    }
  }
}


// MEDIA QUERIES
@media screen and (max-width: 1500px) {
  #main-container{
    padding: 5em 15em;
  }
}
@media screen and (max-width: 1100px) {
  #main-container{
    padding: 5em 10em;
  }
}
@media screen and (max-width: 830px) {
  #main-container{
    padding: 3em 5em;
  }
}
@media screen and (max-width: 660px) {
  #main-container{
    padding: 3em 2em;
    .main-title{
      font-size: 2em;
    }
    .subsection{
      .photos-container{
        margin: 0em;
        img{
          border-radius: 0em;
          width: 80%;
          margin: 1em 0em;
        }
      }
    }
  }
}
@media screen and (max-width: 300px) {
  #main-container{
    padding: 3em 1em;
    .main-title{
      font-size: 1.5em;
    }
    .subsection{
      .photos-container{
        margin: 0em;
        img{
          border-radius: 0em;
          width: 90%;
          margin: 1em 0em;
        }
      }
    }
  }
}
