@import '../../../styles.scss';

nav{
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 1px solid red;
  background-color: $primary-color;
  height: 6em;
  align-items: center;
  border: none;
}
app-mobile-nav{
  display: none;
}

// MEDIA QUERIES
@media screen and (max-width: 800px){
  nav{
    display: none;
  }
  app-mobile-nav{
    display: block;
  }
}
