<div *ngIf="photoFirst" id="main-container">
  <div class="vertical-spacer-left-photoFirst"></div>
  <div class="image-container">
    <img src="https://arctistic.github.io/wearembks/header-images/image2.jpg" alt="image">
  </div>
  <div class="content-container-photoFirst">
    <div class="title">{{title}}</div>
    <div class="caption">{{caption}}</div>
  </div>
  <div class="vertical-spacer-right-photoFirst"></div>
</div>

<div *ngIf="!photoFirst" id="main-container">
  <div class="vertical-spacer-left-contentFirst"></div>
  <div class="content-container-contentFirst">
    <div class="title">{{title}}</div>
    <div class="caption">{{caption}}</div>
  </div>
  <div class="image-container">
    <img src="https://arctistic.github.io/wearembks/header-images/image2.jpg" alt="image">
  </div>
  <div class="vertical-spacer-right-contentFirst"></div>
</div>

