<div *ngIf="isPhotoLeft" class="container">
  <div data-aos="fade-down" class="spacer">
    <img src="{{photo}}" alt="">
  </div>
  <div data-aos="fade-left" class="content">
    <div class="name">
      {{name}}
    </div>
    <div class="position">
      {{post}}
    </div>
    <div class="caption">
      {{caption}}
    </div>
  </div>
</div>

<div *ngIf="!isPhotoLeft" class="container photo-right">
  <div data-aos="fade-down" class="spacer">
    <img src="{{photo}}" alt="">
  </div>
  <div data-aos="fade-right" class="content">
    <div class="name">
      {{name}}
    </div>
    <div class="position">
      {{post}}
    </div>
    <div class="caption">
      {{caption}}
    </div>
  </div>
</div>
