<div *ngIf="isPhotoLeft" class="container">
  <div class="spacer">
    <img src="https://arctistic.github.io/wearembks/member-images/trust/rahul.jpeg" alt="">
  </div>
  <div class="content">
    <div class="name">
      Rahul Amulya Pradhan
    </div>
    <div class="position">
      President
    </div>
    <div class="caption">
      Mukh Bandh Kaam Suru is a Public Charitable Trust registered under the Indian Trust Act 1960 in Darjeeling, India. We are dedicated towards bringing back the lost essence of Darjeeling Hills.
    </div>
  </div>
</div>

<div *ngIf="!isPhotoLeft" class="container photo-right">
  <div class="spacer">
    <img src="https://arctistic.github.io/wearembks/member-images/trust/rahul.jpeg" alt="">
  </div>
  <div class="content">
    <div class="name">
      Rahul Amulya Pradhan
    </div>
    <div class="position">
      President
    </div>
    <div class="caption">
      Mukh Bandh Kaam Suru is a Public Charitable Trust registered under the Indian Trust Act 1960 in Darjeeling, India.
      We are dedicated towards bringing back the lost essence of Darjeeling Hills.
    </div>
  </div>
</div>
