<div id="main-container">
  <div class="verticle-spacer-left"></div>
  <div class="content-container">
    <div class="title">
      {{title}}
    </div>
    <div class="caption">
      {{caption}}
    </div>
    <div class="footer">
      <div (click)="toggleDonate()" class="donate-btn">
        <span>DONATE</span>
      </div>
      <div class="socials-container">
        <a href="https://www.facebook.com/mukhbandhkaamsuru/" target="_blank"><span class="icon-facebook-f-brands"></span></a>
        <a href="https://twitter.com/MBKSTrust" target="_blank"><span class="icon-twitter-brands"></span></a>
        <a href="https://instagram.com/mukhbandhkaamsuru?igshid=YmMyMTA2M2Y=" target="_blank"><span class="icon-instagram-brands"></span></a>
        <a href="https://www.youtube.com/channel/UCGCllDMtiy7tWMkuZ4Gen1g" target="_blank"><span class="icon-youtube-brands"></span></a>
        <a href="https://www.linkedin.com/in/mukh-band-kaam-suru-trust-435406232/" target="_blank"><span class="icon-linkedin-in-brands"></span></a>
      </div>
    </div>
  </div>
  <div class="photo-container">
    <img src="{{photo}}" alt="landing photo 1">
  </div>
  <div class="verticle-spacer-right"></div>
</div>

<div #target @drop *ngIf="showDonate" class="donate-container"
  [ngStyle]="{'background-image': 'url('+donateBg+')'}">
  <div class="title">
    Help us help change lives
  </div>
  <div class="content-container">
    <div class="caption">
      <span *ngFor="let line of bankDetails">
        {{line}} <br>
      </span>
    </div>
    <img class="qr-code" src="{{qrcode}}" alt="">
  </div>

  <span class="close-btn" (click)="closeDonate()">x</span>
</div>
