@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?m6y3ky');
  src:  url('fonts/icomoon.eot?m6y3ky#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?m6y3ky') format('truetype'),
    url('fonts/icomoon.woff?m6y3ky') format('woff'),
    url('fonts/icomoon.svg?m6y3ky#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bars-solid:before {
  content: "\e912";
}
.icon-indian-rupee-sign-solid1:before {
  content: "\e911";
}
.icon-linkedin-in-brands:before {
  content: "\e90f";
}
.icon-twitter-brands:before {
  content: "\e910";
}
.icon-angle-up-solid:before {
  content: "\e901";
}
.icon-angle-down-solid:before {
  content: "\e902";
}
.icon-arrows-down-to-people-solid:before {
  content: "\e903";
}
.icon-bowl-food-solid:before {
  content: "\e904";
}
.icon-facebook-f-brands:before {
  content: "\e905";
}
.icon-graduation-cap-solid:before {
  content: "\e906";
}
.icon-hand-holding-dollar-solid:before {
  content: "\e907";
}
.icon-handshake-angle-solid:before {
  content: "\e908";
}
.icon-hands-holding-child-solid:before {
  content: "\e909";
}
.icon-indian-rupee-sign-solid:before {
  content: "\e90a";
}
.icon-square-facebook-brands:before {
  content: "\e90b";
}
.icon-square-instagram-brands:before {
  content: "\e90c";
}
.icon-square-youtube-brands:before {
  content: "\e90d";
}
.icon-youtube-brands:before {
  content: "\e90e";
}
.icon-instagram-brands:before {
  content: "\e900";
}
