/* You can add global styles to this file, and also import other style files */
$primary-color: #881609;
$secondary-color: #F9F5E8;
$font-dark-bg-color: white;
$font-dark-bg-secondary-color: #DAB7B3;
$font-primary: black;
$font-secondary: #64625d;

@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500&display=swap');

*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
