<div class="container">
  <div class="vertical-spacer"></div>
  <div class="mbks-logo">
    <img src="https://github.com/arctistic/wearembks/blob/master/final-logo.png?raw=true" alt="mbks-logo">
  </div>
  <div class="info">
    <div class="info-group">
      <div class="title">Our Email</div>
      <div class="caption">mbkstrust@gmail.com</div>
    </div>
    <div class="info-group">
      <div class="title">Our Contact Number</div>
      <div class="caption">+91 - 6294943062
      <br>+91 - 8016506615</div>
    </div>
    <div class="info-group">
      <div class="title">Our Office</div>
      <div class="caption">108 Pradhan Cottage, <br>
      Bloomfield, Dali, <br>
      Darjeeling, West Bengal, <br>
      India - 734101</div>
    </div>
  </div>
  <div class="vertical-spacer"></div>
</div>
