@import '../../../styles.scss';
.container{
  background-color: $secondary-color;
  width: 100%;
  display: flex;
  justify-content: center;
  iframe{
    width: 90%;
    height: 25em;
    margin-top: -5em;
  }
}

// MEDIA QUERIES
@media screen and (max-width: 800px){
  .container{
    iframe{
      height: 20em;
    }
  }
}
@media screen and (max-width: 500px){
  .container{
    iframe{
      height: 15em;
    }
  }
}
